# Server Configuration
PORT=5001

# MongoDB Connection String (Atlas Cloud)
MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/brightsteps

# JWT Security Key
JWT_SECRET=your_random_secret_string_here

# Google Authentication Client ID
GOOGLE_CLIENT_ID=793782179104-vu8l67ut7d7bskoljkq27n54ci2468cv.apps.googleusercontent.com
